# gitignore file for COMP 472 AI Project.

# files found in the root
*.sln
*.sdf
Debug/*
!Debug/COMP_472_AI_Project.exe


# files found in the Debug Folder
*.vcxproj
*.vcxproj.filters

# no idea where these are, but not necessary . . .

*.opensdf
*.v12
*.v12.suo
